aiohttp==3.7.4
pandas==1.2.2
xlrd==2.0.1
numpy==1.21
beartype==0.9.0
openpyxl==3.0.10
scipy==1.8.1
scikit-learn==1.1.1
scikit-optimize==0.9.0
hyperopt==0.2.7
stumpy==1.11.1
h5py==3.6.0
tune_sklearn==0.4.1
tensorflow==2.9.0
matplotlib==3.5.2
plotly==5.8.0
plotly-express==0.4.1
nbformat==5.4.0
kaleido==0.2.1
protobuf==3.20.0
xgboost==1.5.0
lightgbm==3.2.1
ipywidgets==7.6.3
shap==0.40.0
fronni==0.0.6
spacy==3.6.0
xformers==0.0.20
sentence_transformers==2.2.2
ipykernel==6.15.2
jupyterlab==3.4.6